<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="logfilepath" value="System.AppDomain.CurrentDomain.BaseDirectory;"/>
      <add key="importpath" value="System.AppDomain.CurrentDomain.BaseDirectory;"/>
      <add key="exportpath" value="System.AppDomain.CurrentDomain.BaseDirectory;"/>
    </appSettings>
    <connectionStrings>
      <add name="AccessDBSConnString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
         Data Source=D:\Documents\Point of Sale Project\Retail.mdb" providerName="System.Data.OleDb" />
      <add name="RemoteConnection" connectionString="Data Source=.\SQLEXPRESS;Database=ResaleMgr;uid=resaleuser;pwd=resaleuser;"
          providerName="System.Data.SqlClient" />
      <add name="LocalAccessDBSConnString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
         Data Source=|DataDirectory|Retail.mdb" providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>